<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDFh_qUd-xUu_9G5kre3puHNiPPbT124E</string>
	<key>GCM_SENDER_ID</key>
	<string>503051310913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>julia.Julia-A1</string>
	<key>PROJECT_ID</key>
	<string>countries-570b7</string>
	<key>STORAGE_BUCKET</key>
	<string>countries-570b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503051310913:ios:9b299d636d5eb515ac73c0</string>
</dict>
</plist>